@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: #333;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

section.user-area {
  position: relative;
}

section.user-area:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: -85px;
  background: #252e46;
  height: 220px;
  z-index: -1;
}

.profile-image {
  position: relative;
}

.profile-image:after {
  height: 15px;
  width: 15px;
  background: #00dd00;
  content: "";
  z-index: 99999;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(17px);
  border-radius: 50%;
}
